body,
html {
  margin: 0;
  font-family: "Tahoma", "Arial", sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #06466F;
  font-weight: 300;
  background-image: url("../img/pattern.jpg");
}
html * {
  max-height: 1000000px;
}
img {
  max-width: 100%;
}
@font-face {
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Tahoma.woff2") format("woff2"), url("../fonts/Tahoma.woff") format('woff');
}
@font-face {
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/TahomaBold.woff2") format("woff2"), url("../fonts/TahomaBold.woff") format('woff');
}
@font-face {
  font-family: 'PFPlayskoolPro-3D';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PFPlayskoolPro-3D.woff2") format("woff2"), url("../fonts/PFPlayskoolPro-3D.woff") format('woff');
}
.main-header {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 200px;
  display: block;
  background: url("../img/headerline.svg") no-repeat;
  background-size: 100% 200px;
  color: #FFFFFF;
  background-position: bottom;
  z-index: 20;
}
.main-header__inner {
  width: 830px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.header-logo {
  margin-top: 0;
  margin-left: 14px;
}
.header-logo__logo-text {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.header-logo__link img {
  width: 210px;
  height: auto;
}
.header-contact {
  margin-left: auto;
  margin-right: 35px;
  margin-top: 5px;
  width: 300px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.header-contact__text {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.header-contact__phonenomber a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 27px;
  font-family: "Tahoma";
  font-weight: 700;
}
.header-contact__phonenomber {
  display: block;
  padding-left: 38px;
  margin-bottom: 6px;
  position: relative;
}
.header-contact__phonenomber::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-62%);
  background-image: url("../img/icons/phonecall.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  background-color: #FFFFFF;
  width: 25px;
  height: 25px;
  border-radius: 50% 50%;
}
.header-contact__cyty {
  margin: 0;
  padding: 0;
  margin-left: 30px;
  font-size: 15px;
  font-weight: 700;
}
.social-btn {
  margin: 0;
}
.social-btn--footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin-right: 50px;
}
.social-btn__text-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.social-btn__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  padding: 0;
  margin: 0;
}
.social-btn__item {
  list-style: none;
}
.social-btn__item a {
  display: block;
  font-size: 0;
  width: 25px;
  height: 25px;
  border-radius: 50% 50%;
  background-color: #7EBCDB;
  margin: 0 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px 25px;
}
.social-btn__item--ok a {
  background-image: url("../img/icons/ok.svg");
  background-size: 12px 85px;
}
.social-btn__item--vk a {
  background-size: 18px 25px;
  background-image: url("../img/icons/vk.svg");
}
.social-btn__item--fb a {
  background-size: 16px 25px;
  background-image: url("../img/icons/fb.svg");
}
.social-btn__item--insta a {
  background-size: 16px 16px;
  background-image: url("../img/icons/insta.svg");
}
.social-btn__item:hover a {
  background-color: #4987A6;
}
.social-btn__item:active a {
  background-color: #365B6E;
}
.main-nav {
  width: 830px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin-top: 21px;
}
.main-nav__text-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.main-nav__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin: 0;
  margin-right: 10px;
  padding: 0;
}
.main-nav__item {
  list-style: none;
  margin: 0 10px;
}
.main-nav__item a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}
.main-nav__item:hover a,
.main-nav__item a:focus {
  transform: scale(1.1);
}
.main-nav__item:active a {
  transform: scale(1.1) translateY(3px);
}
.capture-page {
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 447px;
  padding-top: 200px;
  position: relative;
  z-index: 15;
}
.capture-page::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 570px;
  top: 50px;
  left: 0 ;
  background-color: rgba(24, 109, 156, 0.62);
  z-index: 8;
}
.capture-page__inner {
  width: 830px;
  margin: 0 auto;
}
.capture-page__tittle {
  display: block;
  margin: 0 auto;
  margin-top: 65px;
  font-family: 'PFPlayskoolPro-3D';
  text-decoration: none;
  font-size: 63px;
  line-height: 63px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  width: 650px;
  z-index: 15;
  position: relative;
}
.capture-page__text {
  display: block;
  margin: 0 auto;
  width: 620px;
  margin-top: 5px;
  font-family: 'Tahoma';
  font-weight: 700;
  text-decoration: none;
  font-size: 27.5px;
  line-height: 37.5px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  z-index: 10;
  position: relative;
}
.capture-page__btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 44px;
  z-index: 10;
  position: relative;
}
.btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 216px;
  min-height: 35px;
  background: linear-gradient(to bottom, #FF0000, #FF9696);
  color: #ffffff;
  font-size: 16px;
  font-family: "Tahoma";
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 10px;
}
.btn:hover {
  background: linear-gradient(to top, #FF0000, #FF0000);
}
.btn:active {
  background: none;
  background-color: #ff9999;
}
.btn--transparent {
  border: solid #FFFFFF 2px;
  background: none;
  width: 250px;
}
.btn--party {
  margin: 27px auto 0;
  width: 261px;
  height: 41px;
  font-size: 20px;
}
.btn--show {
  width: 119px;
  min-height: 23px;
  line-height: 20px;
  font-size: 11px;
}
.btn--reviews {
  width: 261px;
  min-height: 43px;
  height: 43px;
  line-height: 20px;
  font-size: 19px;
  margin: 0 auto;
  margin-bottom: 130px;
}
.btn--offers {
  width: 179px;
  min-height: 36px;
  line-height: 16px;
  font-size: 16px;
  margin: 9px auto 25px;
  height: 36px;
}
.why-us-page__inner {
  width: 830px;
  margin: 0 auto;
}
.why-us-page__tittle {
  display: block;
  margin: 48px auto 0;
  font-family: 'PFPlayskoolPro-3D';
  font-size: 63px;
  line-height: 63px;
  color: #06466F;
  text-transform: uppercase;
  text-align: center;
  width: 570px;
}
.why-us-page__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  margin-top: 30px;
}
.why-us-page__item {
  display: block;
  list-style: none;
  font-family: 'Tahoma';
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #06466F;
  text-transform: uppercase;
  text-align: center;
  width: 210px;
  padding-top: 100px;
  position: relative;
}
.why-us-page__red-text {
  color: #FF0000;
}
.why-us-page__item::after {
  content: "";
  position: absolute;
  width: 90px;
  height: 90px;
  border: solid 2px #06466F;
  border-radius: 50% 50%;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 64px 85px;
}
.why-us-page__item--top-programs::after {
  background-image: url("../img/icons/thumbsup.svg");
}
.why-us-page__item--hit::after {
  background-image: url("../img/icons/flask.svg");
}
.why-us-page__item--money::after {
  background-image: url("../img/icons/people.svg");
}
.why-us-page__item--altay::after {
  background-image: url("../img/icons/points.svg");
}
.start-party {
  background-image: url("../img/bodyline.svg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100% 406px;
  min-height: 286px;
  padding-top: 125px;
  margin-top: 40px;
}
.start-party__tytle {
  display: block;
  margin: 0 auto;
  width: 620px;
  margin-top: 5px;
  font-family: 'Tahoma';
  font-weight: 700;
  text-decoration: none;
  font-size: 31px;
  line-height: 40px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}
.about-us__inner {
  width: 830px;
  margin: 0 auto;
}
.about-us__tittle {
  display: block;
  margin: 0 auto;
  font-family: 'PFPlayskoolPro-3D';
  text-decoration: none;
  font-size: 70px;
  line-height: 75px;
  color: #06466F;
  text-transform: lowercase;
  text-align: center;
  width: 650px;
}
.about-us__lists {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0 5px;
  width: auto;
  margin-top: 7px;
}
.about-us__number {
  font-size: 26px;
  line-height: 26px;
  color: #FFFFFF;
  text-shadow: #06466F 2px 0px 2px, #06466F 0px 2px 2px, #06466F 0px -2px 2px, #06466F -2px 0px 2px;
}
.about-us__item {
  display: block;
  list-style: none;
  padding-top: 50px;
  margin-bottom: 20px;
  width: 250px;
  height: 55px;
  font-family: "Tahoma";
  font-weight: 700;
  line-height: 20px;
  font-size: 18px;
  text-align: center;
  position: relative;
}
.about-us__item::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45px 40px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.about-us__item--more-party::after {
  background-image: url("../img/icons/headr.svg");
}
.about-us__item--40-hero::after {
  background-image: url("../img/icons/diamond.svg");
}
.about-us__item--for-children::after {
  background-image: url("../img/icons/children.svg");
  background-size: 57px;
}
.about-us__item--individual-program::after {
  background-image: url("../img/icons/thinking.svg");
  transform: scale(-1.1, 1) translateX(50%);
  background-size: 42px;
  height: 60px;
}
.about-us__item--experienced-leading::after {
  background-image: url("../img/icons/conversations.svg");
}
.about-us__item--all-safe::after {
  background-image: url("../img/icons/diploma.svg");
}
.about-us__item--punctual::after {
  background-image: url("../img/icons/time.svg");
}
.about-us__item--postpay::after {
  background-image: url("../img/icons/mony.svg");
}
.about-us__item--officially::after {
  background-image: url("../img/icons/records.svg");
}
.show__inner {
  width: 830px;
  margin: 0 auto;
}
.show__tittle {
  display: block;
  margin: 0 auto 0;
  font-family: 'PFPlayskoolPro-3D';
  text-decoration: none;
  font-size: 70px;
  line-height: 75px;
  color: #06466F;
  text-transform: uppercase;
  text-align: center;
  width: 650px;
}
.show__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 26px;
  margin-top: 70px;
}
.show__item {
  list-style: none;
  position: relative;
  width: 373px;
  height: 248px;
  margin-bottom: 48px;
  background-color: #BDDCEC;
}
.show__item::after {
  content: "";
  position: absolute;
  width: 373px;
  height: 248px;
  background: rgba(24, 109, 156, 0.42);
  top: 0;
  left: 0;
  z-index: 2;
}
.show__item-text {
  position: absolute;
  font-family: "Tahoma";
  font-size: 19px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  bottom: 44px;
  left: 30px;
  color: #FFFFFF;
  z-index: 3;
  width: 150px;
}
.show__item-btn {
  position: absolute;
  bottom: 24px;
  right: 33px;
  z-index: 3;
}
.show__inem-btn2 {
  position: absolute;
  z-index: 3;
  bottom: 25px;
  left: 29px;
}
.btn-show {
  border: solid 2px #FFFFFF;
  width: 115px;
  height: 21px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  text-decoration: none;
  font-style: "Arial";
  color: #FFFFFF;
  font-weight: bold;
  font-style: italic;
  font-size: 11px;
  border-radius: 6px;
  background: linear-gradient(to right bottom, #196994 70%, transparent);
  padding-left: 5px;
  position: relative;
  border-bottom: 0;
}
.btn-show::after {
  content: "";
  height: 21px;
  width: 124px;
  position: absolute;
  background-image: url("../img/icons/cursor3.svg");
  background-repeat: no-repeat;
  background-size: 124px;
  bottom: -12px;
  right: -2px;
}
.btn-show:hover {
  background: none;
  background-color: #2088c0;
}
.btn-show:active {
  background: none;
  background-color: #36a3dd;
}
.btn-reviews {
  border: none;
  background-color: transparent;
  width: 68px;
  height: 68px;
  background-repeat: no-repeat;
  background-size: 68px;
}
.btn-reviews--blue-right {
  background-image: url("../img/icons/right-blue.svg");
}
.btn-reviews--blue-right:hover {
  background-image: url("../img/icons/right-hover.svg");
}
.btn-reviews--blue-right:active {
  background-image: url("../img/icons/right-active.svg");
}
.btn-reviews--right {
  background-image: url("../img/icons/right.svg");
}
.btn-reviews--right:hover {
  background-image: url("../img/icons/right-hover.svg");
}
.btn-reviews--right:active {
  background-image: url("../img/icons/right-active.svg");
}
.btn-reviews--blue-left {
  background-image: url("../img/icons/left-blue.svg");
}
.btn-reviews--blue-left:hover {
  background-image: url("../img/icons/left-hover.svg");
}
.btn-reviews--blue-left:active {
  background-image: url("../img/icons/left-active.svg");
}
.btn-reviews--left {
  background-image: url("../img/icons/left.svg");
}
.btn-reviews--left:hover {
  background-image: url("../img/icons/left-hover.svg");
}
.btn-reviews--left:active {
  background-image: url("../img/icons/left-active.svg");
}
.btn-reviews--blue-left[disabled="disabled"] {
  background-image: url("../img/icons/left-gray.svg");
}
.btn-reviews--blue-right[disabled="disabled"] {
  background-image: url("../img/icons/right-gray.svg");
}
.reviews {
  background-image: url("../img/videoline.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 680px;
  margin-top: 0;
  padding-top: 104px;
}
.reviews__title {
  display: block;
  margin: 0 auto;
  font-family: 'PFPlayskoolPro-3D';
  text-decoration: none;
  font-size: 70px;
  line-height: 75px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  width: 650px;
}
.reviews__inner {
  width: 830px;
  margin: 0 auto;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.reviews__wrapper {
  margin: 0 auto;
  overflow: hidden;
  width: 710px;
}
.reviews__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
  margin-top: 22px;
  padding: 0;
}
.reviews__item {
  list-style-type: none;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  line-height: 16px;
  margin: 10px;
  max-width: 196px;
  min-width: 196px;
}
.reviews__item a {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #06466F;
  position: relative;
  text-align: right;
  padding-left: 60px;
  margin-right: 20px;
  margin-bottom: 36px;
  margin-top: 40px;
}
.reviews__item a::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50% 50%;
  background-color: #06466F;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/reviews/profile.svg");
  background-size: 30px;
}
.reviews__item--vladimir a::after {
  background-image: url("../img/reviews/vladimir.jpg");
  background-size: 70px;
}
.reviews__item--elena a::after {
  background-image: url("../img/reviews/elena.jpg");
  background-size: 50px;
}
.reviews__btn {
  width: 50px;
  height: 50px;
  background-size: 50px;
}
.reviews__btn {
  width: 50px;
  height: 50px;
  background-size: 50px;
}
.reviews__end {
  height: 10px;
}
.offers__inner {
  width: 830px;
  margin: 0 auto;
  padding: 0 15px 0;
}
.offers__title {
  display: block;
  margin: 48px auto 0;
  font-family: 'PFPlayskoolPro-3D';
  font-size: 70px;
  line-height: 70px;
  color: #06466F;
  text-transform: uppercase;
  text-align: center;
  width: 570px;
}
.offers__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
  padding: 0 25px;
  margin-top: 56px;
}
.offers__item {
  display: block;
  width: 230px;
  background-color: #BDDCEC;
  list-style: none;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}
.offers__item--hit::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url("../img/icons/hit.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
  top: -40px;
  left: -25px;
}
.offers__item-wrapper {
  padding: 0 5px 5px;
}
.offers__item-list li {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  list-style-type: disc;
}
.offers__item-title {
  background-color: #186D9C;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 22px;
  font-family: "Tahoma";
  min-height: 57px;
  margin: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 15px;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}
.offers__item-title span {
  font-family: 'PFPlayskoolPro-3D';
  font-size: 35px;
  line-height: 30px;
}
.offers__item-text {
  position: relative;
  font-size: 16px;
  line-height: 19px;
  margin: 19px 0;
}
.offers__item-text::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 50px;
  height: 20px;
  background-image: url("../img/icons/elipse.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
}
.offers__item-text--list-title {
  margin-bottom: 0;
}
.offers__item-text--list-title::after {
  display: none;
}
.offers__item-text--without-elips::after {
  display: none;
}
.offers__item-list {
  padding-left: 70px;
}
.offers__price-old {
  margin-bottom: 10px;
  font-family: "Tahoma";
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  position: relative;
}
.offers__price-old::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 50%;
  width: 127px;
  height: 1px;
  background-color: red;
  transform: rotate(7deg) translate(-50%, -50%);
}
.offers__price-old::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 50%;
  width: 127px;
  height: 1px;
  background-color: red;
  transform: rotate(-7deg) translate(-50%, -50%);
}
.offers__price-text {
  margin: 0;
  font-family: "PFPlayskoolPro-3D";
  font-size: 36px;
  line-height: 37px;
  color: #FF0000;
  text-shadow: #FFFFFF 2px 0 4px, #FFFFFF 0 2px 4px, #FFFFFF 0 -2px 4px, #FFFFFF -2px 0 4px;
}
.offers__price {
  margin: 0;
  font-family: "PFPlayskoolPro-3D";
  font-size: 61px;
  line-height: 46px;
  color: #FF0000;
}
.offers__price-benefit {
  margin: 0;
}
.offers__text-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.our-partners {
  display: block;
  padding-top: 50px;
}
.our-partners__inner {
  width: 830px;
  margin: 0 auto;
}
.our-partners__title {
  display: block;
  margin: 0 auto;
  font-family: 'PFPlayskoolPro-3D';
  text-decoration: none;
  font-size: 70px;
  line-height: 75px;
  color: #06466F;
  text-transform: uppercase;
  text-align: center;
  width: 650px;
}
.our-partners__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
}
.our-partners__item {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin: 15px;
}
.our-partners__item--bg-blue {
  background-color: #BDDCEC;
}
.our-partners__item img {
  width: auto;
  height: 70px;
}
.our-partners__item--higher img {
  height: 100px;
}
.our-partners__item--lower img {
  height: 50px;
}
.сertificates {
  min-height: 500px;
  padding-top: 50px;
}
.сertificates__title {
  display: block;
  margin: 0 auto;
  font-family: 'PFPlayskoolPro-3D';
  text-decoration: none;
  font-size: 70px;
  line-height: 75px;
  color: #06466F;
  text-transform: uppercase;
  text-align: center;
}
.сertificates__inner {
  width: 830px;
  margin: 0 auto;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.сertificates__wrapper {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  width: 678px;
  overflow: hidden;
}
.сertificates__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  margin-top: 22px;
  padding: 0;
}
.сertificates__item {
  display: block;
  min-width: 200px;
  list-style-type: none;
  margin: 5px 10px;
  border: solid 3px #06466F;
}
.сertificates__item img {
  display: block;
}
.сertificates__btn {
  margin: 0 auto;
}
.main-footer {
  background-image: url("../img/footerlinesvg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 320px;
  min-height: 320px;
}
.main-footer__wrapper {
  width: 830px;
  margin: 0 auto;
  padding-top: 35px;
}
.main-footer__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.main-footer__copyright {
  text-align: right;
}
.footer-contact {
  padding-top: 69px;
  width: 450px;
  min-height: 183px;
}
.footer-contact__link {
  font-size: 0;
  line-height: 0;
  text-align: center;
}
.footer-contact__link img {
  max-width: 218px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.footer-contact__text {
  display: block;
  font-size: 20px;
  line-height: 27px;
  width: 310px;
  color: #FFFFFF;
  margin: 0 auto;
  text-align: center;
}
.footer-contact__phonenomber {
  width: 170px;
  font-size: 20px;
  color: #FFFFFF;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  font-family: "Tahoma";
}
.footer-contact__mail {
  font-size: 20px;
  color: #FFFFFF;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  font-family: "Tahoma";
}
.footer-contact__phone-mail {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer-nav {
  padding-top: 124px;
}
.footer-nav__hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.footer-nav__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0 10px 18px 0;
  padding: 0;
  width: 490px;
}
.footer-nav__item {
  list-style: none;
  margin: 0 10px;
}
.footer-nav__item a {
  display: block;
  font-family: 'PFPlayskoolPro-3D';
  text-decoration: none;
  font-size: 27px;
  line-height: 35px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.footer-nav__item a:focus,
.footer-nav__item:hover a {
  transform: scale(1.1);
}
.footer-nav__item:active a {
  transform: scale(1.1) translateY(3px);
}
@keyframes bounce {
  0% {
    transform: translateY(-2000px) translateX(-50%);
  }
  70% {
    transform: translateY(-100px) translateX(-50%);
  }
  90% {
    transform: translateY(-45%) translateX(-50%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%);
  }
}
.modal-content {
  width: 450px;
  min-height: 438px;
  background-image: url("../img/popup.svg"), url("../img/pattern2.png");
  background-size: 342px 480px, 180px 180px;
  background-repeat: no-repeat, repeat;
  background-position: top 36px left 50%, center;
  background-color: #062D42;
  position: relative;
  padding: 109px 10px 10px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}
.modal-content--show {
  display: block;
  animation: bounce 0.6s;
}
.modal-content__btn-close {
  position: absolute;
  top: 6px;
  right: 5px;
}
.modal-content__title {
  font-family: "Tahoma";
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
}
.modal-content__text {
  display: block;
  margin: 0 auto;
  font-family: "Tahoma";
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
  width: 250px;
}
.order-form {
  margin-top: 28px;
}
.order-form__input {
  background-color: #BDDCEC;
  width: 210px;
  height: 34px;
  padding-left: 10px;
  display: block;
  margin: 0 auto;
  border: none;
  margin-bottom: 18px;
}
.order-form__input::-webkit-input-placeholder {
  color: #06466F;
  font-family: "Tahoma";
  font-size: 14px;
}
.order-form__input:-ms-input-placeholder {
  color: #06466F;
  font-family: "Tahoma";
  font-size: 14px;
}
.order-form__input::placeholder {
  color: #06466F;
  font-family: "Tahoma";
  font-size: 14px;
}
.order-form__checkbox {
  display: block;
  width: 240px;
  margin: 0 auto;
  color: #FFFFFF;
  font-size: 11px;
  line-height: 12px;
  margin-bottom: 15px;
}
.order-form__checkbox a {
  color: #FFFFFF;
}
.order-form__checkbox a:hover {
  color: #FF0000;
}
.order-form__btn {
  margin: 0 auto;
  margin-bottom: 30px;
}
.btn-close {
  display: block;
  font-size: 0;
  border: none;
  background-color: transparent;
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-size: 45px;
  background-image: url("../img/icons/close3.svg");
}
.btn-close:hover {
  background-image: url("../img/icons/close3-hover.svg");
}
.btn-close:active {
  background-image: url("../img/icons/close3-active.svg");
}
.btn-up {
  display: block;
  font-size: 0;
  border: none;
  background-color: transparent;
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-size: 45px;
  background-image: url("../img/icons/up.svg");
}
.btn-up:hover {
  background-image: url("../img/icons/up-hover.svg");
}
.btn-up:active {
  background-image: url("../img/icons/up-active.svg");
}
.move-up {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin-right: 100px;
}
.show-description {
  min-height: 500px;
}
.show-description__wrapper {
  width: 830px;
  margin: 0 auto;
  width: 780px;
  position: relative;
  padding-top: 100px;
}
.show-description__btn-close {
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../img/icons/close3-blue.svg");
}
.show-description__title {
  color: #FF0000;
  font-size: 35px;
  margin: 0 0 5px;
}
.show-description__strong-text {
  font-size: 20px;
}
.show-description__strong-text--red {
  color: #FF0000;
}
.show-description__text {
  line-height: 22px;
  margin: 10px 0 0;
  font-size: 18px;
}
.show-description__text--red {
  color: #FF0000;
  font-weight: 700;
}
.show-description__old-price {
  margin-bottom: 10px;
  font-family: "Tahoma";
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  position: relative;
}
.show-description__old-price::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 50%;
  width: 127px;
  height: 1px;
  background-color: red;
  transform: rotate(7deg) translate(-50%, -50%);
}
.show-description__old-price::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 50%;
  width: 127px;
  height: 1px;
  background-color: red;
  transform: rotate(-7deg) translate(-50%, -50%);
}
.show-description__text--characteristics {
  padding: 0;
  margin: 0;
  line-height: 19px;
  color: #FF0000;
}
.show-description__text--characteristics b {
  color: #06466F;
}
.show-description__list-title {
  line-height: 19px;
  font-size: 18px;
}
.show-description__list {
  line-height: 19px;
  font-size: 18px;
  list-style: none;
  margin: 3px 0 15px;
  padding-left: 12px;
}
.show-description__list--marg0 {
  margin: 0;
}
.show-description__item {
  position: relative;
  line-height: 21px;
  font-size: 18px;
}
.show-description__item::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50% 50%;
  background-color: #FF0000;
  left: -12px;
  top: 0;
  transform: translateY(142%);
}
.show-description__characteristics {
  margin-top: 30px;
}
.show-description__btn {
  margin: 49px auto 0;
  width: 256px;
  height: 38px;
  font-size: 19px;
}
.show-description__gallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 55px;
  padding: 0;
}
.show-description__gallery-item {
  list-style: none;
  margin: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.show-description__gallery-item p {
  text-align: center;
  font-weight: 700;
  width: 175px;
}
.show-description__gallery-item img {
  width: 240px;
  height: auto;
}
.show-description__gallery-item--animat img {
  width: 175px;
  height: auto;
}
.show-description__video {
  margin: 50px auto 0;
  width: 465px;
}
.gallery__inner--santa {
  margin-bottom: 60px;
}
.gallery__inner {
  width: 830px;
  margin: 0 auto;
  width: 960px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.gallery__wrapper {
  position: relative;
  margin-top: 55px;
  display: -ms-flexbox;
  display: flex;
  width: 780px;
  height: 378px;
  overflow: hidden;
}
.gallery__text-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.gallery__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding: 0;
  margin: 0;
}
.gallery__item {
  list-style: none;
  margin: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  min-height: 160px;
  max-height: 354px;
  overflow: hidden;
}
.gallery__item img {
  width: 240px;
  height: auto;
}
.gallery__item--animat img {
  width: 175px;
  height: auto;
}
.gallery__btn {
  transform: rotate(90deg);
}
.jsmove--left {
  --moveStart: translateX(600px) translateY(0);
  --moveStop: translateX(0) translateY(0);
  animation-name: move-left;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.jsmove--left1 {
  --moveStart: translateX(600px) translateY(0);
  --moveStop: translateX(0) translateY(0);
  animation-name: move-left1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes move-left {
  0% {
    transform: var(--moveStart);
  }
  100% {
    transform: var(--moveStop);
  }
}
@keyframes move-left1 {
  0% {
    transform: var(--moveStart);
  }
  100% {
    transform: var(--moveStop);
  }
}
.jsmove--right {
  --moveStart: translateX(-600px) translateY(-300px);
  --moveStop: translateX(0) translateY(-300px);
  animation-name: move-right;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.jsmove--right1 {
  --moveStart: translateX(-600px) translateY(-300px);
  --moveStop: translateX(0) translateY(-300px);
  animation-name: move-right1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes move-right {
  0% {
    transform: var(--moveStart);
  }
  100% {
    transform: var(--moveStop);
  }
}
@keyframes move-right1 {
  0% {
    transform: var(--moveStart);
  }
  100% {
    transform: var(--moveStop);
  }
}
.documents {
  width: 830px;
  margin: 0 auto;
  position: relative;
  padding-top: 50px;
}
.documents__btn-close {
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../img/icons/close3-blue.svg");
}
